.newsletterPopup-overlay {
    background-color: rgba(stencilColor("overlay-backgroundColor"), 0.9);
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    transition: all 250ms ease-out;
    width: 100%;
    z-index: zIndex("low");

    &.is-visible {
        display: block;
        opacity: 1;
    }
}

.newsletterPopup {
    background: stencilColor("newsletter_popup_backgroundColor");
    left: 50%;
    margin: auto;
    max-height: 90%;
    max-width: 95%;
    padding: spacing("base");
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90%;

    @include breakpoint("medium") {
        width: auto;
    }

    .form-field {
        margin: 0;
    }

    .modal-close {
        background-color: stencilColor("newsletter_popup_backgroundColor");
        color: stencilColor("newsletter_popup_close_color");
        right: spacing("quarter");
        top: spacing("quarter");
    }
}

.newsletterPopup-title {
    color: stencilColor("newsletter_popup_text_color");
}

.newsletterPopup-intro {
    color: stencilColor("newsletter_popup_text_color");
}
