.card-swatches,
.card-sizes {
    .form-option {
        cursor: auto;

        &:hover {
            border-color: stencilColor("input-border-color");
        }
    }
}

.swatches--round {
    .form-option-swatch {
        border-radius: 50%;

        > .form-option-variant {
            border-radius: 50%;
        }

        .form-option--multi {
            border-radius: 50%;
            overflow: hidden;
        }
    }
}

.form .form-option.form-option-swatch {
    overflow: hidden;
}

// do some math
$value_of_swatch_size : stencilString("swatch_option_size");
$position_of_x : str-index($value_of_swatch_size, "x");
$first_value : str-slice($value_of_swatch_size, 0, $position_of_x - 1);

.form-option--multi {
    width: $first_value+"px";
}

.form-option-variant--pattern {
    background-size: contain;
}

.color--duotone {
    width: 50%;
}

.color--tritone {
    width: 33%;

    &:last-child {
        width: 34%;
    }
}
