{{#each carousel.slides}}
<a class="hero-carousel__link hero-carousel__link--order-{{@index}}" href="{{url}}">
    <div class="heroCarousel-slide slide--{{@index}} {{#if ../theme_settings.homepage_stretch_carousel_images}}heroCarousel-slide--stretch{{/if}}">
        {{#if @first}}
             {{#any heading text button_text}}
                 {{> components/common/responsive-img
                     image=stencil_image
                     class="heroCarousel-image has-content"
                     fallback_size='1280w'
                     lazyload='disabled'
                 }}
             {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='disabled'
                }}
            {{/any}}
        {{else}}
            {{#any heading text button_text}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image has-content"
                    fallback_size='1280w'
                    lazyload='lazyload'
                }}
            {{else}}
                {{> components/common/responsive-img
                    image=stencil_image
                    class="heroCarousel-image"
                    fallback_size='1280w'
                    lazyload='lazyload'
                }}
            {{/any}}
        {{/if}}
        {{#if heading}}
            {{> components/f/hero/carousel-content show_background=true}}
        {{else}}
            {{#if text}}
                {{> components/f/hero/carousel-content show_background=true}}
            {{else}}
                {{#if button_text}}
                    {{> components/f/hero/carousel-content show_background=false}}
                {{/if}}
            {{/if}}
        {{/if}}
    </div>
</a>
{{/each}}
