<div class="card-swatches card-swatches--nojs {{#if theme_settings.enable_circular_swatches}}swatches--round{{/if}}">
    {{#each custom_fields}}
        {{#if name "===" "Color Swatch"}}
            <div class="form-option form-option-swatch">
                <div class="form-option--multi">
                    {{#each (arrayify (split value))}}
                        <span class="form-option-variant form-option-variant--color{{#if (length (split ../value)) '===' 3}} color--tritone{{/if}}{{#if (length (split ../value)) '===' 2}} color--duotone{{/if}}" style="background-color: #{{chop this}}"></span>
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if name "===" "Pattern Swatch"}}
            <div class="form-option form-option-swatch">
                <span class='form-option-variant form-option-variant--pattern' style="background-image: url('{{stripProtocol value}}');"></span>
            </div>
        {{/if}}
    {{/each}}
</div>
