<h4>{{lang 'products.related_products' }}</h4>
<ul class="productCards productCards--{{theme_settings.product_list_display_mode}}" {{#if settings.data_tag_enabled}} data-list-name="Related Products" {{/if}}>
    {{#each this}}
    <li class="productCard productCard--{{theme_settings.product_list_display_mode}}">
        {{>components/f/products/card customer_group_id=../customer_group_id settings=../settings theme_settings=../theme_settings event="list" position=(add @index 1)}}
    </li>
    {{/each}}
</ul>
